Source: ros-groovy-object-recognition-capture
Section: misc
Priority: extra
Maintainer: Vincent Rabaud/vrabaud@willowgarage.com, Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-ecto,ros-groovy-ecto-opencv,ros-groovy-catkin,libboost-all-dev,ros-groovy-ecto-openni,ros-groovy-object-recognition-core,ros-groovy-ecto-image-pipeline
Homepage: http://ecto.willowgarage.com/recognition
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-capture
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-ecto,ros-groovy-ecto-opencv,libboost-all-dev,ros-groovy-ecto-openni,ros-groovy-object-recognition-core,ros-groovy-ecto-image-pipeline
Description: Capture is a set of tools to capture objects in 3D and perform odometry
 .
 This stack contains the packages:
 * object_recognition_capture: 

